<div class="col-lg-8">

  <div class="page-header">
    <h1><%= @room.name %></h1>
  </div>

  <div id="messages">
    <% if @room.messages.any? %>
      <% @room.messages.each do |msg| %>
        <div class="media">
          <div class="media-left media-middle">
            <img class="media-object" src="http://lorempixel.com/64/64/people/">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= msg.user.email %>,<small> <%= I18n.l(msg.created_at, format: :myformat) %></small>
            </h4>
            <p><%= msg.text.html_safe %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="small-top-margin">
    <%= form_for [@room, Message.new] do |f| %>
      <div class="input-group">
        <%= f.text_field :text, class: "form-control", placeholder: "Type a message..." %>
        <span class="input-group-btn">
          <%= f.submit "Send", class: "btn btn-default" %>
        </span>
      </div>
    <% end %>
  </div>

</div>

<script>
  var App = {
    websocket_host: '<%= "wss://#{request.host}:#{request.port}/" %>'
  };

  $(function() {
    var user_id = <%= "#{current_user.id}" %>;
    var room_id = <%= "#{@room.id}" %>;
    var user_email = '<%= "#{current_user.email}" %>';
    var form = $("#new_message");

    var chatSocket = new ChatSocket(user_id, room_id, user_email, form);
  });
</script>
